* {
    font: "Jetbrains Mono 12";
    foreground: #ffffff;
    background-color: #111111;
    active-background: #1cb2f5;
    urgent-background: #00ff00;
    urgent-foreground: #ff0000;
    selected-background: @active-background;
    selected-urgent-background: @urgent-background;
    selected-active-background: @active-background;
    separatorcolor: @active-background;
    bordercolor: @active-background;
}
