/*Dracula theme based on the Purple official rofi theme*/

configuration {
    modes: "drun,run";
    show-icons: true;
    display-drun: "";
    disable-history: false;
}

@theme "config_theme"
@theme "theme_default"
